name: Aggiorna Glossario su feature

on:
  push:
    branches:
      - 'feature/*'
    paths:
      - 'src/RTB/Documenti Interni/Glossario/**'
      - 'src/PB/Documenti Interni/Glossario/**'
      - '.github/workflows/glossario_parser.lua'

jobs:
  update-glossario:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # necessario per usare git diff con commit precedenti

      - name: Installa Lua
        run: |
          sudo apt-get update
          sudo apt-get install -y lua5.3

      - name: Controlla modifiche Glossario e genera HTML
        run: |
          lua .github/workflows/glossario_parser.lua


      - name: Commit e Push Glossario aggiornato
        run: |
          git config --global user.name "GitHub App"
          git config --global user.email "noreply@github.com"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          # aggiunge solo se le cartelle esistono
          [ -d src/RTB/Documenti\ Interni/Glossario/content/letters ] && git add src/RTB/Documenti\ Interni/Glossario/content/letters/*.tex
          [ -d src/PB/Documenti\ Interni/Glossario/content/letters ] && git add src/PB/Documenti\ Interni/Glossario/content/letters/*.tex
          [ -d website/glossario ] && git add website/glossario/glossario.html
          git commit -m "Auto: Glossario aggiornato e HTML rigenerato" || exit 0
          git push origin "$GITHUB_REF_NAME"
